<div class="row">
    <div class="col-4">
       <div class="card" style="width: 18rem;">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Consumer_Electronics/Stores/1452930_EG_Laptops_440x300_EN_199bfc26-758f-43fe-9f62-58827d1fbb07.jpg" class="card-img-top">
        <div class="card-body">
            
            </div>
    </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/42/Sunrise/CE/Storedesigns/price_2000to2999.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">TVs</h5>
            </div>
     </div>
     </div>
     <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/42/Sunrise/CE/Storedesigns/XCM_Manual_1360061_4061330_Egypt_Flagship_Xiaomi_440x400_2X.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Mobile</h5>
            </div>
     </div>
     </div>
    </div>

