<div class="card" style="width:18rem;">
    <img [src]="prd?.Img" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Name:{{prd?.Name}}</h5>
        <div class="card-text">
            <h5>Price:{{prd?.price}}</h5>
            <h5>Quantity:{{prd?.Quantity}}</h5>
        </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
<button class="btn btn-warning" type="button" (click)="prevFunc()" [disabled]="currentPrdID==prdIDsList[0]">Previous</button>
<button class="btn btn-primary" (click)="goBack()">Back</button>
<button class="btn btn-danger" type="button" (click)="nextFunc()" [disabled]="currentPrdID==prdIDsList[prdIDsList.length-1]">Next</button>
</div>
</div>
